---
Language: Cpp
BasedOnStyle: Chromium
AlignEscapedNewlines: Left
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
IndentWidth: '4'
QualifierAlignment: Right